/* TYPOGRAPHY */

.heading-secondary {
    text-align: center;
    text-transform: uppercase;
    font-size: 3.7rem;
    color: $color-black;
    display: inline-block;
    font-weight: bold;

}

.heading-tertiary {
    font-size: 1.8rem;
    color: $color-black;
    margin-top: 0;
}

.portfolio-heading {
    font-size: 1.8rem;
    color: #fff;
    margin-top: 0;
}

p {
    font-size: $default-font-size;
}








