// COLORS

$color-grey-light-1: #F5F5F5;
$color-grey-light-2: #D7D7D7;

$color-grey-dark: #666;

$color-blue-light: #5CADD3;
$color-blue-dark: #498CAB;

$color-white: #fff;
$color-black: #000;

$color-transparent: transparent;

// FONT SIZES

$default-font-size: 1.6rem;


